* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body > div {
  border: 1px dashed black;
  padding: 10px;
  /* margin: 12px 6px 9px 3px; */
  height: 300px;
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

/* div + div {
  display: block;
  width: initial;
} */

div > div {
  border: 1px solid red;
  vertical-align: middle;
  display: inline-block;
}

div:last-of-type:hover {
    background-color: green;
}