.container {
  margin: 20px;
  display: grid;
  height: 80vh;
  grid-template-columns: 3fr 7fr;
  grid-template-rows: 5rem 1fr 3rem;
  gap: 0.3rem;
  grid-template-areas:
    "header header header header"
    "side main main main"
    "footer footer footer footer";

  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.el1 {
  background: rgba(255, 154, 72, 0.5);
  grid-area: header;
}

.el2 {
  background: rgba(255, 0, 0, 0.5);
  grid-area: side;
}

.el3 {
  background: rgba(153, 153, 153, 0.5);
  grid-area: main;
  justify-self: stretch;
    align-self: stretch;
}

.el4 {
  background: rgba(0, 4, 255, 0.5);
  grid-area: footer;
}

.mc {
  display: grid;
  width: 100%;
  height: 100%;
  /* grid-template: 1fr 1fr / 1fr 1fr; */
  gap: 0.4rem;
  grid-template:
    "a b"
    "c d";
  justify-items: center;
  align-items: center;
}

.mc1 {
  grid-area: a;
  background: red;
}
.mc2 {
  grid-area: b;
  background: green;
}
.mc3 {
  grid-area: c;
  background: blue;
}
.mc4 {
  grid-area: d;
  background: yellow;
}

.center {
  border-collapse: collapse;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 1.4rem "Arial", monospace;
}
