main {
  padding-top: 1rem;
}

.background {
  background: url("../images/plans-background.jpg");
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -2;
  filter: grayscale(80%);
}

.package {
  width: 80%;
  min-width: 20rem;
  padding: 2rem;
  border: 5px solid green;
  margin: 1rem 0;
  border-left: none;
  position: relative;
}

.package:hover,
.package:active {
  border-color: orangered;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  /* opacity: 0.85; */
}

.package--plus {
  background: rgb(168, 235, 168, 0.95);
}
.package--free {
  background: rgb(210, 252, 210, 0.95);
  float: right;
  border-right: none;
  border-left: 5px solid green;
  text-align: right;
}

.package--premium {
  background: rgb(38, 94, 38, 0.95);
}

.package__link {
  text-decoration: none;
}

.package__title {
  color: black;
}

.package--premium .package__title {
  color: white;
}

.package__badge {
  position: absolute;
  right: 0;
  top: 0;
  margin: 1.2rem;
  font-size: 0.8rem;
  color: white;
  background: orangered;
  padding: 0.6rem;
}

.package__info {
  color: #606a74;
}

.package--premium .package__info {
  color: #b6b8b9;
}

.package__description {
  padding: 1rem;
  border: 2px solid #002e00;
  background: white;
  color: #002e00;
  font-size: 1.2rem;
}

@media (min-width: 40rem) {
  main {
    margin-left: auto;
    margin-right: auto;
    max-width: 80rem;
  }
}

@media (min-width: 80rem) {
  .package {
    border-left: 5px solid green;
  }

  .package--free {
    border-right: 5px solid green;
  }
}
